@import url("node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 270px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 16px;
}

.hero-scene{
    background-image: url('./images/hero-scene.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
